<div class="about_container">




<h1 class = "hate_date">About Us</h1>
<br>
<p>For too long, people have been brought together by their commonalities. HateDate is the app that dares to ask, what unites us better than what we hate? </p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eJrlezLvWnU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>

  <h1 class = "hate_date"> How does this work?</h1>
<br>
<p>You take a survey, select the options you hate more, and we match you with people whose dislikes match with yours. </p>

<p>Kvetch with them online (or not) using our amazing chat.</p>

<p>We also bring you events from TicketMaster and meetup opportunities from Meetup. </p>
<br>
<h1 class = "hate_date">What about my privacy?</h1>
<br>
<p>You have the option to keep your profile private which means you won't show up on our maps or on our search results. </p>

<p>People who match with you can see your profile but if you don't gel, block them. Classic Hater move!</p>
<br>

</div>
