<h1> Surveys </h1>

<% if current_user %>
  <% current_user.results.each do |result| %>
    <%if @user_surveys.include?(Survey.find(result.survey_id)) == false %>
      <% @user_surveys << Survey.find(result.survey_id)  %>
    <% end  %>
  <% end %>
<% end %>


<div id="main-container" class="container">
<% @surveys.each_slice(4) do |survey_4| %>

  <div class="row">
  <%survey_4.each do |survey| %>
    <div class="survey col-xs-12 col-sm-6 col-md-3 main-content">

    <% if @user_surveys.include?(survey)%>
      <%survey.results.each do |result|  %>
        <%if result.created_at.to_date == Date.today && result.user == current_user  %>
          <div class = "overlay"></div>
        <%end %>
      <%end %>
    <%end %>
    <%if @survey_images[survey.id]["data"] != []  %>
      <%= link_to(image_tag(@survey_images[survey.id]["data"][rand(0..9)]["images"]["downsized"]["url"], alt: survey.name), survey_path(survey.id), class: "downsized") %>
      <span><%= link_to(survey.name, survey_path(survey.id)) %></span>
    <%end %>

    </div>
  <% end %>
  </div>
<% end %>
